apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  annotations:
    client.knative.dev/user-image: gcr.io/ons-sds-sandbox-01/locust-tasks:latest
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
    run.googleapis.com/operation-id: 5c1388dc-25b4-4eb4-b747-a1e84aa6c1fe
  labels:
    cloud.googleapis.com/location: europe-west2
    run.googleapis.com/satisfiesPzs: "true"
  name: locust-tasks
  namespace: "244163385647"
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "100"
        client.knative.dev/user-image: gcr.io/ons-sds-sandbox-01/locust-tasks:latest
        run.googleapis.com/client-name: cloud-console
    spec:
      containerConcurrency: 80
      containers:
        - env:
            - name: BASE_URL
              value: https://34.149.110.167.nip.io
            - name: PROJECT_ID
              value: ons-sds-sandbox-01
            - name: OAUTH_CLIENT_ID
              value: 293516424663-6ebeaknvn4b3s6lplvo6v12trahghfsc.apps.googleusercontent.com
          image: gcr.io/ons-sds-sandbox-01/locust-tasks:latest
          ports:
            - containerPort: 8089
              name: http1
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
          startupProbe:
            failureThreshold: 1
            periodSeconds: 240
            tcpSocket:
              port: 8089
            timeoutSeconds: 240
      serviceAccountName: 293516424663-compute@developer.gserviceaccount.com
      timeoutSeconds: 300
  traffic:
    - latestRevision: true
      percent: 100
